<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/static/css/singup.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/signin.css"> -->
</head>

<body>
    <h1>Mr. Siwakorn Supareak</h1>
    <img src="/static/img/adolfo-felix-Yi9-QIObQ1o-unsplash.jpg" width="100" height="100">
    <a href="/signin">signin</a>
    <a href="/signup">signup</a>
</body>

</html>